/* Generic */
.lms-block-config {  color: #2c3e50; }
div.ccm-block-field-group.lms-block-config { border-bottom: 0px;  }
.lms-block-config label { clear: both; width: 125px; display: block; float: left; margin: 2px 0; padding-right: 15px; font-weight: bold; text-align: right; line-height: 1.42; }
.lms-block-config label.full-width { width: auto; float: none; text-align: left; }
.lms-block-config label.auto-width, .lms-block-config.wide-labels label.auto-width { width: auto; margin-right: 10px;  }
.lms-block-config.wide-labels label { width: 200px; }
.lms-block-config input[type=text], .lms-block-config textarea {
	border: 2px  solid #dce4ec;
	border-radius: 4px;
	box-shadow: none;
	padding: 3px 5px;
	font-size: 15px;
	line-height: 1.42;
	background-color: #ffffff;
}
.lms-block-config select { font-family: 'Lato'; font-size: 15px; line-height: 1.42; }
.lms-block-config input[type=text], .lms-block-config textarea, .lms-block-config select { width: 300px; display: block; float: left; margin: 2px 0; box-sizing: border-box; }
.lms-block-config input[type=text].no-float { float: none; display: inline-block; }
.lms-block-config textarea { width: 350px; height: 60px; padding: 5px; }
.lms-block-config  .file-select { float: left;  width: 200px; margin-bottom: 5px; }
.lms-block-config label.file-label { width: 200px; }
.lms-block-config legend { font-weight: bold; }
body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}
.lms-block-config fieldset {
	border: 1px solid #bbb;
	border-radius: 4px; ;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	clear: both;
	max-width: 550px;
}
.lms-block-config legend {
	/* background-color: #007BC7;
	color: #fff;
	font-size: 17px;
	width: 100%;
	display: block;
	line-height: 2.0;
	padding: 0 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #007BC7;
	box-sizing: border-box; */
	font-weight: bold;
	font-size: 1.1em;
}
.lms-block-config  .wysiwyg { float: left;  width: 300px; margin-bottom: 5px; }
.lms-block-config .float-group { float: left; width: 300px; }
.lms-block-config a { text-decoration: underline; }
.lms-block-config .small-text-inputs { clear: both; }
.lms-block-config .small-text-inputs label { clear: none; }
.lms-block-config .small-text-inputs input[type=text] {  width: 50px; margin-right: 60px; }
.lms-block-config #ccm-files-add-asset { float: left; }
.lms-block-config #ccm-files-add-asset input[type=file] { width: 200px; }
#ccm-block-form .alert-info { display: none; }
.lms-block-config h2 { border: none; color: #2c3e50; font-size: 18px;  border-bottom: 1px solid #bbb; }
.section-toggle {
	position: relative;
	cursor: pointer;
}
.section-toggle:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6.5px 0 6.5px 13px;
	border-color: transparent transparent transparent #2c3e50;
	content: "";
	position: absolute;
	right: 15px;
    top: 50%;
    margin-top: -5px;
}
.section-toggle.active:after {
	border-width: 12px 6.5px 0 6.5px;
	border-color: #2c3e50 transparent transparent transparent;
}
input.error, textarea.error {background-color: rgba(231,76,60, .65); }
.small-mce .mce-btn button { font-size: 10px; line-height: 10px; }
.small-mce .mce-ico { font-size: 10px; line-height: 10px; width: 10px; height: 10px; }

/* Zip Embed Block */
#zip-embed-block-edit label, #zip-embed-block-edit input[type=text], #zip-embed-block-edit select  {  margin-bottom: 10px;  }
#zip-embed-block-edit label { text-align: right; margin-right: 10px;  }
#zip-embed-block-edit.lms-block-config.wide-labels label { width: 170px; }
#zip-embed-block-edit iframe { display: block; margin: 0 auto; }
#zip-embed-block-edit .float-group { position: relative; }

/* Interactive Definition Block */
.lms-block-config .definition-set { border-bottom: 1px solid #ddd; padding: 5px 0; overflow: auto; }

/* Interactive Categorization Block */
.categorization-block .category-container { border: 1px solid #ddd; padding: 10px; overflow: auto; margin-bottom: 10px; }
.lms-block-config.categorization-block label { clear: both; width: 150px; font-size: 15px;  }
.categorization-block .category label { font-weight: bold; }
.categorization-block .set label { font-size: 90%; font-weight: normal; text-align: right; padding-right: 10px; box-sizing: border-box;  }

/* Generic */
.lms-image-block #attribution_ifr { height: 50px !important; }
.lms-image-block .defaultSkin table td { vertical-align: top; }
.lms-image-block label, .lms-image-block textarea, .lms-image-block .wysiwyg, .lms-image-block select { margin-bottom: 10px; }
#lms-image-block-size { display: none; position: relative; }
#lms-image-container { width: 100%; height: 95%; overflow: scroll;}
#lms-image-block-prev { display: none; }
.lms-image-resize-left { padding-right: 285px; min-height: 75px; }
.lms-numeric-resize-container { position: absolute; top: 0; right: 30px; width: 240px; font-size: .85em; border: 2px solid #fff; border-radius: 2px; padding: 5px; box-sizing: border-box; }
.lms-numeric-resize-container input { width: 160px; box-sizing: border-box;  }
div.ccm-ui .lms-image-numeric-resize-value { height: 26px; line-height: 26px; display: inline-block; }

/* Resize Handles */
#lms-image-container {box-sizing: border-box; }
#nwgrip, #negrip, #swgrip, #segrip, #ngrip, #egrip, #sgrip, #wgrip { width: 8px; height: 8px; background-color: rgba(255, 255, 255, .7); border: 1px solid #000000; }
#nwgrip { left: 0px; top: 0px; }
#negrip{ top: 0px; right: 0px; }
#swgrip{ bottom: 0px; left: 0px; }
#segrip{ bottom: 0px; right:0px; }
#ngrip{ top: 0px; left:50%; }
#sgrip{ bottom: 0px; left: 50%; }
#wgrip{ left:0px; top:50%; }
#egrip{ right:0px; top:50%; }
.required { color: #DD3900; font-weight: bold; }

/* Quiz Block */
#quiz-block-edit .question-options, #quiz-block-edit .question-options + * { display: none;  }
#quiz-block-edit .question-options legend { display: block; }
#quiz-block-edit fieldset { margin-top: 12px; }
#quiz-block-edit #multiple_choice_options input[type=radio] { float: left; clear: both; margin-right: 8px; }
#quiz-block-edit #multiple_choice_options input[type=text] { width: 260px;  }
#quiz-block-edit #feedback_ifr { height: 50px !important; }
#quiz-block-edit  .question-set { border-bottom: 1px solid #ddd; padding: 3px 0; overflow: auto; }

/* Icon and text block */
.ccm-file-selected-default-text { display: none; }

/* Highcharts block */
.bootstrap #ccm-block-highcharts-edit fieldset { margin: 20px; }
.bootstrap #ccm-block-highcharts-edit legend { font-size: 1.1em; font-weight: bold; width: auto;  }
#ccm-block-highcharts-edit .section-toggle { clear: both; }
#ccm-block-highcharts-edit .toggle-multidata { display:none; }
#ccm-block-highcharts-edit .group fieldset { margin-bottom:10px; }
#ccm-block-highcharts-edit .group label { display:block; }
#ccm-block-highcharts-edit .group .ccm-input-text { margin-bottom:10px; }
#ccm-block-form .error { background:#ff8080; }
#ccm-block-highcharts-edit fieldset { position: relative; }
.bootstrap #ccm-block-highcharts-edit .panel-body fieldset { margin: 20px; }


/* Hotspot block */
.hotspot-viewport { position: relative; border:solid 1px #ccc; cursor:crosshair; height:auto; margin: 10px 0; min-height:50px; width:300px; }
.hotspot-viewport img { display:block; height:auto; width:100%; }
.hotspot-marker { position: absolute; background-color: #000; border-radius: 50%; width: 16px; height: 16px; margin-left: -9px; margin-top: -9px; border: 3px solid #fff;}
.hotspot-hidden { display: none; }
#hotspots-manage { display: none; }

/* Image Labeling block */
.label-marker { opacity: .65; position: absolute; background-color: #fff; width: 32%; height: 20px; cursor: move}
.label-marker.active{background-color: red; opacity: .85;}


/* NEW */
.block-set, .bootstrap .btn { display: block; }
.block-set, .bootstrap .block-add-set-button.btn { display: none; }
.bootstrap .manage-row h4.col-sm-7 { margin-top: 0; }
.bootstrap .manage-row .btn { position: relative; top: 15px;  }
.block-add-set-form .questionFieldGroup { display: none; }
.bootstrap .input-group .form-control { color: #2C3E50; }

/* Quiz Block */
#quiz-block-edit .block-set.active .question-group.type-all { display: block; }
#quiz-block-edit .question-group { display: none; }
#quiz-block-edit .question-group.active { display: block; }
.type-Ordering .col-xs-8 .row:first-child .btn-up,
.type-Ordering .col-xs-8 .row:last-child .btn-down{
	visibility: hidden;
}
#quiz-block-edit .small {
	font-size: 86%;
	line-height: 100%;
	display: block;
	text-align: right;
	font-weight: normal;
	top: -2px;
	position: relative;
}

/* Hide concrete's help icon */
.ccm-block-type-help { display: none; }

/* Poll Block */
.ca-poll .error {
	background: none !important;
	color: red;
	float: right;
	clear: right;
	margin: 0.25em 1em;
}
.ca-poll #response-options .row * {
	white-space: nowrap;
}
.ca-poll #response-options input {
	display: inline-block;
	width: 90%;
	float: left;
}
.ca-poll .remove, .remove-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 15px 0 0 5px;
	background: url(images/icon_sprite.png) top right no-repeat;
}
.ca-poll .btn {
	float: right;
	clear: right;
	margin: 1em;
}
.ca-poll .handle {
	cursor: move;
	float: left;
	background-image: url(images/sort.png);
	margin: 10px 5px;
	background-position: center;
	background-size: 80% auto;
	background-repeat: no-repeat;
	width: 16px;
	height: 1.5rem;
}
.ca-poll .checkbox {
	margin-top: 10px;
}
.ca-poll label {
	text-align: left !important;
}


/* Audio Block */
.ca-audio .center {
	text-align: center;
}
.ca-audio .or {
	margin: 1em 0;
}
.ca-audio .uri-help {
	font-size: 75%;
}

