#cms_edit_block,
#cms_navigator_block,
.comments-form,
#cms-comments .btn.post,
#cms-comments .manage-comments,
#post-todos,
#cms-todos #add-todo-link,
._pendo-badge,
input.print,
#page-edit-from-lms,
.block-comment-form,
.comment-form-container
{
	display: none !important;
}

.cms_container { overflow: hidden; width: auto; }
#page-properties { float: none; width: 100%; background-color: #ecf0f1; border: 1px solid #aaa; }
.cms_container .container { float: none; max-width: 100%; margin: 0 auto;}
#page-properties label { clear: both; font-weight: bold; }
#page-properties input { width: 150px; float: left; margin-left: 10px; border: none; background-color: transparent; }
#page-properties .cms_sidebar_block { width: 47%; margin: 0; padding: 10px; box-sizing: border-box;  float: left; background-color: transparent; border-radius: 0px; }
#page-properties .cms_sidebar_block#cms_properties_block { margin-left: 0; border-right: 1px solid #aaa;}
#page-properties .cms_sidebar_block#cms_todos_block { margin-left: -1px; border-left: 1px solid #aaa; }
.cms-dialog-title { background-color: transparent; color: #000; padding: 0 10px; margin-top: 5px; }
#cms-comments { border: 1px solid #aaa; margin-top: 15px;  }
.comments-container .cms-comment-entry:last-child { border-bottom: none;  }
.container img, .container  iframe, .container  .video-js { max-width: 100%; height: auto;  }
.video-transcript { max-width: 100%; box-sizing: border-box; }

.modal {
	width: 100%; display: block; position: relative;
	height: auto; max-height: none;
	border: none; box-shadow: none; top: 0; left: 0; overflow: visible;
	background-color: #eee;
}
.modal .modalCloseButton { display: none; }
.quiz-transcript { display: none; }
select, input[type=text] { border: 1px solid #000; }
.interactive-tabs .tab-content { display: block !important; }
.accordion .section-body { display: block !important; }
.flexslider .slides > li { display: block !important; opacity: 1 !important; float: none !important; margin: 15px auto !important; }
.flex-direction-nav { display: none; }

.header { height: auto; min-height: 100px; text-align: center; }
.header .logo {position: relative; display: block; margin: 5px auto;  }
.header .heading { clear: both; background-color: transparent; margin: 15px 0; padding: 0; top: auto; left: 0; }
.header .heading h1 { font-size: 28px; color: #000; background-color: transparent; font-weight: bold; text-transform: none; border-top: 1px solid #ccc; padding-top: 15px; }
.header .heading h2 { font-size: 24px; border-bottom: 1px solid #ccc; color: #000; background-color: transparent; font-weight: bold; padding-bottom: 15px; }
.ccm-next-previous-wrapper { display: none; }
blockquote, th, table thead th, table th, .quiz table thead th, .quiz table th, .quiz table tbody th, .quiz table .choice, .quiz .dropzone, .quiz td.choices, table td, table th {
	color: #000 !important; background-color: #ffffff; border: 1px solid #333;
}
dt { font-weight: bold; }