/* Fonts */
html, body {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 15px;
  line-height: 19px;
  color: #504e4f;
  margin: 0; 
  padding: 0; 
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 37px;
  line-height: 40px;
  color: #241e1e;
  margin: 0 0 10px 0;
}
h2 {
  font-family: 'Arial', sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #504e4f;
  line-height: 44px;
  border-bottom: 3px solid #504e4f;
  margin: 0 0 15px 0;
}
h3 {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

p {
  margin: 12px 0;
}

em.important {
  color: red;
}

.header { padding: 0 10px; }

/* Generic */
.container img {
  max-width: 100%;
  height: auto;
}

.body {
  padding: 10px 15px;
}

.clear {
  clear: both;
}

ul.space-between li, ol.space-between li {
  margin-top: 10px;
}

/* Overview/Tables */
table {
  border-collapse: collapse;
  margin: 0 auto;
  border-bottom: 5px solid #ffe79f;
}
table td, table th {
  border: 2px solid #FFF;
}
table thead th  {
  background-color: #666;
  color: #fff;
  padding: 5px 10px;
  line-height: 20px;
}
.quiz table th {
  background-color: #666;
  color: #fff;
}
.quiz table tbody th {
    font-weight: normal;
}
table tbody th {
  text-align: left;
  font-weight: bold;
}
table tbody .time {
  text-align: center;
}
table tbody tr:nth-child(even) td {
  background-color: #f2f3f3;
}
table tbody td, table tbody th {
  vertical-align: top;
  padding: 10px;
}
table tbody td ul {
  margin: 0 0 0 20px;
  padding: 0;
}

table.no-shading {
  border-bottom: none;
}
table.no-shading td, table.no-shading th {
  border: none;
}
table.no-shading thead th {
  background-color: #fff;
}
table.no-shading tbody tr:nth-child(even) td {
  background-color: #fff;
}
table.left-align {
  margin: 0 0;
}

body.popup .container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
body.popup#assets-liabilities-popup table {
  border-bottom: none;
}

.footer {
  background-color: #666;
  color: #fff;
  padding: 1px 10px;
  font-size: 11px;
  clear: both;
}

iframe {
  margin: 0 auto;
  max-width: 770px; 
}

/* RS custom */
#rs_connecting table { border-bottom: none; }
#rs_connecting table caption { background-color: #555; color: #fff; padding: 10px; text-align: left; font-weight: bold;  }
#rs_connecting table tbody tr:nth-child(odd) td, #rs_connecting table tbody tr:nth-child(odd) th {
  background-color: #fff;
  color: #000;
}
#rs_connecting table tbody tr:nth-child(even) td, #rs_connecting table tbody tr:nth-child(even) th {
  background-color: #f2f3f3;
  color: #000;
}

#rs_connecting table caption, #rs_connecting table tbody tr td, #rs_connecting table tbody tr th {
  border: 1px solid #000;
}
@media (max-width: 800px) {
  .vjs-default-skin { max-width: 100%; height: auto; } 
} 